{{> head }}
{{> navBar }}
<div class="row">
    <div class="col-8">
        <h1>About - DomingoMG</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex inventore praesentium veritatis reprehenderit voluptate ea voluptas id eius cum sed, minima molestiae esse quae commodi sapiente! Sed, soluta vero! Non.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/1.png" class="img-thumbnail">
    </div>
</div>
   
{{> footer }}
