{{> head }}
{{> navBar }}
 <div class="jumbotron">
    <h1 class="display-4">Hola, {{ capitalizar nombre}}!</h1>
    <p class="lead">Esto es un simple contenido de la página web, Esperemos que sea de tu agrado, yiyi.</p>
    <hr class="my-4">
    <p>Esto en concreto es un contenedor para ser mostrada, yiyiy gitignore yyiyi</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Leer más</a>
</div>
{{> footer }}
